@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');

body {
    background-image: url('./images/bkg.webp');
    background-position: center;
    background-size: cover;
}
.pararaphB {
    color: #000;
}
.pararaphW {
    color: #FFF;
}
.subtitleR {
    color: #67022c;
    font-weight: 600;
    font-size: 1.5rem;
}
.titleR {
    color: #67022c;
    font-weight: 900;
    font-size: 3.5rem;
    background-color: #f9f9ef;
    border: 1px solid #67022c;
    text-align: center;
    font-family: 'Caveat', cursive;
}
.subtitleB {
    color: #000;
    font-size: 1.5rem;
    font-weight: 600;
}
.SsubtitleB {
    color: #000;
    font-size: 1.2rem;
    font-weight: 600;
}
.paragraphB {
    color: #000;
    font-size: 1rem;
    font-weight: normal;
}
.links {
    cursor: pointer;
    color:  #000;
    text-decoration: underline;
}
.video {
    width: 100%;
    height: auto;
}